{% extends "generator/base.html" %}

{% load static %}

{% block content %}
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

<div class="container-fluid text-center">
    <h1>Your Generated Password is:</h1>
    <br>
    <h3 class="text-success" id="password" value="{{ password }}">{{password}}</h3>
    <br>
    <br>
    <button class="btn btn-secondary bi bi-clipboard" data-toggle="tooltip" data-placement="bottom" title="Please select the password before copying." onclick="copy()"> Copy</button>
    <input type="submit" value="Generate another password" onclick="window.location.reload()" class="btn btn-primary">
    <a href="{% url 'home' %}" class="btn btn-info">Reset</a>
</div>

{% endblock %}
